body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #faf3dd;
}

h1 {
  margin-top: 60px;
  margin-bottom: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}
p{
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-size: 2rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.btn {
  color: #11999E;
}

.footer-link {
  color: #11999E;
}

.sub_title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  color: #66BFBF;
  font-weight: normal;
}

.top-container {
  background-color: #d6e0f0;
  position: relative;
  padding-top: 200px;
}
.contmsg{
  width: 40%;
  margin: 40px auto 60px;
}

.middle-container {
background-color: #faf3dd;
}

.bottom-container {
  background-color: #66bfbf;
  margin-top: 100px;
  padding: 50px 0 20px;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #eaf6f6;
}
.copy{
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.bottom-cloud {
  height: 80px;
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  height: 80px;
  position: absolute;
  right: 250px;
  top: 80px;
}

.mountain {
  width: 550px;
  height: 350px;
}

.profile_photo {
  width: 30%;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skill1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.profile{
  width: 50%;
  margin: 100px auto 100px auto;
}
hr{
  border-color: gray;
  border-style: dotted none none;
  border-width: 8px;
  width: 5%;
}
.myskill{
  margin-top: 100px;
}
.getintouch{
  margin-top: 100px;
}
.button {
	background-color:transparent;
	border:1px solid #d6f7ff;
	display:inline-block;
	cursor:pointer;
	color:#1e5f74;
	font-family: 'Montserrat', sans-serif;
	font-size:21px;
	padding:7px 10px;
	text-decoration:none;
}
.button:hover {
	background-color:transparent;
}
.button:active {
	position:relative;
	top:1px;
}
